# top-most EditorConfig file
root = true

#Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
max_line_length = 140

ij_java_line_comment_at_first_column = false
ij_java_block_comment_at_first_column = false
ij_java_line_comment_add_space = false

[*.{java}]
charset = utf-8
indent_style = space
indent_size = 2

