### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/
.idea_modules/

# Archivos de configuración específicos de IntelliJ
*.ipr
*.iml
*.iws

### Build ###
target/
/build/

### Archivos temporales ###
*~

### Archivos temporales del sistema operativo ###
.DS_Store
Thumbs.db

### Archivos de logs ###
*.log
/logs/
/*.log

### Maven ###
/.mvn
/.mvn/wrapper/maven-wrapper.properties
!/.mvn/wrapper/maven-wrapper.jar
.settings/

### Gradle ###
.gradle
build/

### Java ###
*.class

### Archivos generados ###
/bin/
/gen/
/generated/

### Configuración del entorno ###
.env

### Archivos de seguridad ###
/*.key
/*.crt
/*.pem

### Librerías ###
/lib/

### Configuración de Docker ###
/docker-compose.override.yml
/docker-compose*.yml

### Test Reports ###
/test-output/
/jacoco.exec
/coverage-reports/

### Archivos específicos de IntelliJ Run Configurations ###
.idea/runConfigurations

### Archivos específicos de configuraciones locales ###
*.env.local
.env.*
.envrc

### Otros ###
!.gitignore
node_modules/
