# generated setter return 'this', to ease filling instances with data, for tests
lombok.accessors.chain=true

# generated getter similar to record getter.
#lombok.accessors.fluent = true
#Commented because most of the libraries expect get prefixes and is very hard to customize

# @Value("${prop}") private final String prop; works with the @RequiredArgsConstructor
lombok.copyableAnnotations+=org.springframework.beans.factory.annotation.Value
